@import 'global';


.SecondExample
{
    max-width: 500px;

    .Project
    {
        max-width: 100%;
        position: relative;
        height: 300px;
        overflow: hidden;
        padding: 20px;

        *
        {
            color: white;
        }

        .CheckButton
        {
            margin-top: 40px;
            color: white;

            font-size: $header-font-size;
            border: 3px solid white;
            text-transform: capitalize;

            // transition: 200ms;
        }
    }
}